* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --primary-color: rgb(145, 57, 145);
  --font-color: rgba(255, 255, 0);

  background-color: var(--primary-color);
  color: var(--font-color);
}

body {
  min-height: 100vh;
}

header {
  width: 100vw;
  padding-right: 30%;
  background-color: var(--font-color);
}
h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 70vw;
  color: var(--primary-color);
}
main {
  display: flex;
  flex-wrap: wrap;
  margin-inline: 1rem;
  min-height: 100vh;
}
.puzzle {
  position: relative;
  display: flex;
  width: 70%;
  min-width: 300px;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-right: 2px solid var(--font-color);
}
.instructions {
  width: 30%;
  min-width: 300px;
  margin-top: 10%;
  padding-left: 2rem;
}

.clues {
  min-width: 60%;
  min-height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-inline: auto;
  font-size: clamp(16px, calc(2vw + 0.5rem), 1.5rem);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.clue {
  margin-inline: auto;
  width: fit-content;
}

.clue p {
  max-width: fit-content;
  margin-inline: auto;
}

.answer {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  margin: auto;
}

.ans-box {
  font-size: 1.5rem;
  text-align: center;
  background-color: #fff;
  color: #000;
}

.answer-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.answer-wrapper input {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 0.5rem;
}

.button-wrapper {
  padding-block: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  margin-inline: auto;
}

.button {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  background-color: #fff;
  color: #000;
}

.button-wrapper > button:nth-child(11) {
  grid-area: 4/3;
}

#backspace{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.submit-btn-wrapper{
  width: 100%;
  
}

#submit,
#clear {
  width: 15ch;
  padding: 0.5rem;
  aspect-ratio: unset;
  margin: auto;
}

.ans-box.disabled,
button.disabled{
  background-color: hsl(0, 0%, 73%);
}

.placeholder {
  background-color: var(--font-color);
  font-size: 2em;
  line-height: 1.14;
}

#dialog {
  color: var(--primary-color);
  white-space: pre-line; /* respects \n */
  bottom: 0;
}

#dialog > * {
  width: fit-content;
  margin: auto;
}

.ui-widget.ui-widget-content {
  background-color: var(--font-color);
  position: absolute;
  top: 0;
  left: 0;
}

.ui-widget-header {
  background-color: transparent;
}

@media (max-width: 1024px) {
  h1 {
    width: 100vw;
  }

  main{
    flex-direction: column-reverse;
  }

  .puzzle {
    width: 100%;
    border: none;
    border-top: 2px solid var(--font-color);
    padding-bottom: 1rem;
  }

  .clues{
    min-height: fit-content;
    margin-block: 1rem;
  }



  .instructions {
    width: 100%;
    padding: 2rem;
    margin: 0;
  }

  .instructions > * {
    width: fit-content;
    margin-inline: auto;
  }
  .submit-btn-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #submit, #clear{
    width: fit-content;
    margin-inline: auto;
  }

}